*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(90deg, #3C467B, #50589C, #636CCB, #6E8CFB);
}
a{
    text-decoration: none;
    color: #fff;
}
nav{
    color: #fff;
    background: linear-gradient(90deg, #0C2B4E, #1A3D64, #1D546C);
    text-wrap: wrap;
    display: flex;
    justify-content: space-between;
    box-shadow: -2px 5px 40px #ada4e0ff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
}
.home{
    font-size: 2.5em;
    font-weight: bold;
}